body {
	margin: 0;
	font-family: "Graphik Font", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.chakra-badge.badge-last-item {
	background-color: red;
}
.header {
	background-image: url("./image/bg.svg");
	background-repeat: no-repeat;
	background-position: right -71px;
	background-size: contain;
}
.slick-list {
	margin: 0 -15px;
}
.slick-slide > div {
	padding: 0 15px;
}

.slick-prev {
	left: -20px;
}
.slick-prev:before,
.slick-next:before {
	content: "";
}
.slick-next {
	right: -20px;
}
.slick-prev,
.slick-next {
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 50%;
	box-shadow: 0 2px 12px 5px rgb(46 62 72 / 12%), 0 2px 4px 0 rgb(46 62 72 / 12%);
	background-color: #fff;
	z-index: 99;
	transition: all 0.2s;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	color: inherit;
	background-color: #fff;
	box-shadow: 0 2px 12px 5px rgb(46 62 72 / 12%), 0 2px 4px 0 rgb(46 62 72 / 12%);
	top: 48%;
}
